[class*="__linha"] {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

[class$="__conteudo"] {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    [class$="__conteudo"] {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    [class$="__conteudo"] {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    [class$="__conteudo"] {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    [class$="__conteudo"] {
        max-width: 1140px;
    }
}

[class*="__conteudo_full"] {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

[class*="__media"] {
    display: flex;
    align-items: flex-start;
}

[class*="__media-body"] {
    flex: 1;
}

.cookies {
    background-color: #1f345d;
    bottom: 0;
    color: #fff;
    font-size: 1.2em;
    left: 0;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    position: fixed;
    width: 100%;
    z-index: 9999999;
    animation-name: subir-div;
    animation-duration: 2s;
}

@media (max-width: 575.98px) {
    .cookies {
        padding: 1em;
    }
}

.cookies a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

.cookies a:hover {
    text-decoration: none;
}

.cookies .titulo {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
}

.cookies .titulo h3 {
    display: flex;
    align-items: center;
}

.cookies .titulo h3 button {
    background-color: none;
    border: none;
}

.cookies .titulo h3 .duvida {
    color: #fbda5a;
    border-radius: 100%;
    border: 1px solid #fbda5a;
    width: 14px;
    height: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
}

.cookies .titulo h3 .duvida .texto-duvida {
    position: absolute;
    background-color: #fbda5a;
    color: #1f345d;
    font-size: 1.5em;
    border: 1px solid #fff;
    padding: 0.5em;
    top: -5px;
    left: 20px;
    width: 500px;
    cursor: default;
    border-radius: 5px;
}

@media (max-width: 767.98px) {
    .cookies .titulo h3 .duvida .texto-duvida {
        width: 180px;
    }
}

.cookies .texto {
    flex: 0 0 75%;
    max-width: 75%;
}

@media (max-width: 767.98px) {
    .cookies .texto {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.cookies .botao {
    flex: 0 0 25%;
    max-width: 25%;
}

@media (max-width: 767.98px) {
    .cookies .botao {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .cookies .botao button {
        float: right;
    }
}

.cookies .botao button {
    background-color: #fbda5a;
    color: #ad521f;
}

@keyframes subir-div {
    0% {
        bottom: -1000px;
    }
    100% {
        bottom: 0px;
    }
}

@keyframes descer-div {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: -1000px;
    }
}

.cookies.fechar-box-cookies {
    bottom: -1000px;
    animation-name: descer-div;
    animation-duration: 3s;
}